$primary-blue: #0000ff;
$warning: #ff0000;
$success: #00ff00;
$purple: #b491c8;
$gray: #707070;

$theme-colors: (
	"primary-blue": $primary-blue,
	"warning": $warning,
	"success": $success,
	"purple": $purple,
	"gray": $gray
)
