$dark-slate-gray: #2f4f4f;
$misty-rose: #ffe4e1;
$midnight-blue: #191970;
$teal: #008080;

$theme-colors: (
        "dark-slate-gray": $dark-slate-gray,
        "misty-rose": $misty-rose,
        "midnight-blue": $midnight-blue,
        "teal": $teal,
)