$taupe: #50423d;
$beaver: #8d7361;
$dun: #c9bbae;
$isabelline: #eeebe7;
$cool-gray: #8b8da0;
$white: white;

$theme-colors: (
        "taupe": $taupe,
        "beaver": $beaver,
        "dun": $dun,
        "isabelline": $isabelline,
        "cool-gray": $cool-gray,
        "white": $white
)