/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

$black: #222222;

.wp-block-fh-fh-events {
  border: .1em solid #aaaaaa;
  border-radius: .5em;
  color: $black;
  margin: 0 auto;
  background-color: #F3F3F3;

  .title {
	width: 100%;
	padding: 1.5em;
	line-height: 1.5;
  }

  .event-profile {
	background-color: white;
	border-radius: 0 0 .5em .5em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.event-photo img {
	  width: 300px;
	  height: 300px;
	  object-fit: cover;
	  margin-right: 2em;
	}

	.eventdetails, .eventlocation{
	  margin: 0;
	  text-align: left;
	  font-weight: 700;
	}

	.eventlocation {
	  font-weight: 300;
	  font-size: 0.7em;
	}
  }
}
